{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true,
          "browsers": [">0.25%", "not dead"]
        },
        "modules": false,
        "loose": false,
        "bugfixes": true
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime"
  ],
  "compact": false,
  "minified": false,
  "comments": true
}